PORT=5002
DATABASE_URL=postgresql://postgres.iapixboiqcpnyjhpqdor:franciestetica@aws-0-us-west-2.pooler.supabase.com:5432/postgres
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost:10000
NODE_ENV=development
